 /* Grid areas*/

 .titulo1{
    grid-area: titulo1;
}

#foto{
    grid-area: foto;
}
#parrafo{
    grid-area: parrafo;
}

#titulo2{
    grid-area: titulo2;
}

#cuadrado1{
    grid-area: cuadrado1;
}
#cuadrado2{
    grid-area: cuadrado2;
}

#fotoAye{
    grid-area: fotoAye;
}
#fotoLu{
    grid-area: fotoLu;
}
#instagram{
    grid-area: instagram;
}